[user]
  name = John Van Horn
  email = jmvanhorn@gmail.com

[core]
  excludesfile = ~/.gitignore.global
  pager = delta

[branch]
  sort = -committerdate

[delta]
  navigate = true  # use n and N to move between diff sections
  light = false
  ; line-numbers = true

[diff]
  colorMoved = default

[color]
  # auto - always use color when output to terminal
  ui = auto

[alias]
  st = status
  co = checkout
  ci = commit
  f = fetch --prune
  ll = log --oneline -10

  # show global aliases
  alias = "!f(){ git config -l --global | grep ^alias;}; f"

  # word-diff
  wdiff = "diff --word-diff"

  # alias for diff of index
  ix = "diff --cached"
  # + word-diff
  wix = "diff --cached --word-diff"

  cos = "!f(){ git config -l --global | grep ^alias;}; f"

  ; mainbranch = "!f(){ git remote show origin | sed -n '/HEAD branch/s/.*: //p'}; f"
  find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"

[merge]
  #In addition to <<< (yours) and >>> (theirs) markers, adds ||| (original,
  #parent) marker
  conflictstyle = diff3

  # custom merge command
  #tool = gvimdiff3
  tool = gvimdiff

[rebase]
  autosquash = true
